<!DOCTYPE html>
<!-- This website template was created by: Alex Stevens-->
<!-- The data that it was created is 1/13/2018-->
<html lang="en">
<head>
	<title>Alex Stevens Portfolio</title>
	<meta charset="utf-8">
</head>
<body>

	<!-- Use the header area for the website name or logo -->
	<!-- maybe add a professional looking head shot -->
	<header>
	Alex Stevens Portfolio
	</header>

	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<!-- Maybe and a social media link later along links for email -->
	<nav>
	Home &nbsp; &nbsp;
	Education &nbsp; &nbsp;
	Work Experience &nbsp; &nbsp;
	Work Samples &nbsp; &nbsp;
	Contact
	</nav>

	<!-- Use the main area to add the main content of the webpage -->
	<!-- later add full copies of me resume -->
	<div id="main">
	</div>

	<!-- Use the footer area to add webpage footer content -->
	<!-- Later add phone and email that are best for contact -->
	<footer>
	&copy; Copyright 2015. All Rights Reserved.<br>
	steveale@mail.gvsu.edu
	</footer>

</body>
</html>